:root {
    --bg: #18122B;
    --box-bg: #393053;
    --txt: white;
    --padding: 5px;
    --icondisplay: inline-block;
    --announcmentdisplay: block
}

body {
    background-color: var(--bg);
}

.box {
    background-color: var(--box-bg);
}

i, body {
    color: var(--txt)
}

.icon {
    display: var(--icondisplay);
    padding: var(--padding)
}

.icon-yt {
    display: var(--icondisplay);
    padding-right: var(--padding)
}

.announcment {
    display: var(--announcmentdisplay);
    background-color: var(--bg);
}

.cat {
    display: block
}
