:root {
    --bg:#181825;
    --box-bg:#1e1e2e;
    --txt:#cdd6f4;
    --padding: 5px;
    --icondisplay: inline-block;
    --announcmentdisplay: block
}

body {
    background-color: var(--bg)
}

.box {
    background-color: var(--box-bg)
}

i, body, h1, h2, h3, h4, em, p {
    color: var(--txt)
}

.icon {
    display: var(--icondisplay);
    padding: var(--padding)
}

.icon-yt {
    display: var(--icondisplay);
    padding-right: var(--padding)
}

.announcment {
    display: var(--announcmentdisplay);
    backdrop-filter: var(--backdrop-filter);
}

.cat {
    display: block
}

.icon:hover, .icon-yt:hover{
    opacity: 0.5
}
