body {
    background-color: #18122B;
}

.div {
    background-color: #393053;
}

i {
    color: white;
}

body {
    color: white;
}

.icon {
    display: inline-block;
    padding: 5px
}